.navbar{
display:flex;
justify-content:space-between;
background:#222;
padding: 1em;
}

.list{
display:flex;
list-style:none;
align-items:center;
flex-wrap: wrap;
}

.iten{
margin-right:1em;
}

.iten a{
color:#FFF;
text-decoration: none;
}

.iten a:hover{
color:#FFBB33;
}

img{margin-right:50px;}

@media(max-width:444px){
img{margin-right:10px;}
}