.container{
    padding: 2% 10%;
    }

.container > p {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2%;
}

.container > div{
    display: flex;
    flex-wrap: wrap;
}